In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("New_years_resolutions.csv")
df.head()

,tweet_created,tweet_text,tweet_category,tweet_topics,tweet_location,tweet_state,tweet_region,user_timezone,user_gender,retweet_count
0,21-12-2014 16:11,#NewYearsResolution to not put the parking lot...,Humor,Humor about Personal Growth and Interests Reso...,"City of Angels, CA",CA,West,Pacific Time (US & Canada),male,NaN
1,21-12-2014 16:16,I got the hair. I just need to work on the bod...,Health & Fitness,Improve my body,"Arlington, TX",TX,South,Central Time (US & Canada),male,NaN
2,21-12-2014 16:30,"Self improvement!.. Mentally, physically, and ...",Personal Growth,Improve my attitude,"Las Vegas, NV",NV,West,Central Time (US & Canada),male,NaN
3,21-12-2014 17:51,I've decided to get pregnant in #2015 #NewYear...,Humor,Humor about Family/Friends/Relationships Resol...,"Ft. Luderdale, Florida",FL,South,NaN,male,NaN
4,21-12-2014 18:09,All I want for Christmas is to be Carrie Under...,Personal Growth,Other,South Carolina,SC,South,Pacific Time (US & Canada),female,NaN

In [15]:
pd.unique(df['tweet_state'])

array(['CA', 'TX', 'NV', 'FL', 'SC', 'NY', 'WI', 'TN', 'MN', 'MS', 'WV',
       'MI', 'LA', 'MA', 'GA', 'AK', 'OK', 'OH', 'DC', 'IA', 'HI', 'OR',
       'AZ', 'PA', 'MO', 'CO', 'WA', 'IL', 'NM', 'NC', 'CT', 'NE', 'IN',
       'VA', 'NJ', 'MD', 'ID', 'AL', 'RI', 'KS', 'UT', 'KY', 'ME', 'NH',
       'SD', 'MT', 'AR', 'DE', 'VT', 'WY', 'ND'], dtype=object)

In [16]:
df['tweet_state'].value_counts()

CA    701
NY    509
TX    376
FL    248
IL    189
OH    187
PA    157
MI    152
MA    148
GA    131
VA    118
TN    108
NC    108
WA    105
AZ     89
NJ     88
MN     87
IN     79
MD     77
CO     72
OR     71
WI     70
KY     68
MO     66
LA     65
NV     55
CT     52
KS     51
DC     50
SC     46
UT     42
IA     41
OK     38
AL     34
WV     25
MS     23
NE     21
AR     18
ME     18
HI     18
NM     18
AK     16
NH     14
ID     14
RI     14
SD     13
VT      9
WY      9
MT      6
DE      6
ND      3
Name: tweet_state, dtype: int64

In [13]:
df.tweet_state.unique()

array(['CA', 'TX', 'NV', 'FL', 'SC', 'NY', 'WI', 'TN', 'MN', 'MS', 'WV',
       'MI', 'LA', 'MA', 'GA', 'AK', 'OK', 'OH', 'DC', 'IA', 'HI', 'OR',
       'AZ', 'PA', 'MO', 'CO', 'WA', 'IL', 'NM', 'NC', 'CT', 'NE', 'IN',
       'VA', 'NJ', 'MD', 'ID', 'AL', 'RI', 'KS', 'UT', 'KY', 'ME', 'NH',
       'SD', 'MT', 'AR', 'DE', 'VT', 'WY', 'ND'], dtype=object)

In [22]:
df.shape

(4723, 10)

In [23]:
4723/51

92.6078431372549